<div class="weui-tabbar">
    <a v-for="(item,index) in datas" href="javascript:;" @click="cl(index)" :class="[ 'weui-tabbar__item', {'weui-bar__item_on':offset === index}]">
        <span style="display: inline-block;position: relative;">
                <img :src="icon" alt="" class="weui-tabbar__icon">
                <span class="weui-badge" v-if="item.math>0" v-text="item.math" style="position: absolute;top: -2px;right: -13px; "></span>
        <span class="weui-badge weui-badge_dot" v-if="item.dot" style="position: absolute;top: 0;right: -6px;"></span>
        </span>
        <p class="weui-tabbar__label" v-text="item.title"></p>
    </a>

</div>